{% extends "base.html" %}

{% block title %}
    Customers
{% endblock %}

{% block content %}
    {% for customer in customers %}
    <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight"> <strong>Username:</strong> {{ customer.customer }}</div>
        <div class="p-2 bd-highlight"><strong>Gems:</strong> {{ customer.item }}</div>
        <div class="p-2 bd-highlight"> <strong>Spent_money:</strong> {{ customer.total }}</div>
    </div>
    {% endfor %}
{% endblock %}